map_data/
map_data_2018/
old/
__pycache__/
instance/*

gpx_data/

static/database/*
static/temp/*
static/uploaded_data/*
static/gpx/converted/*
static/gpx/original/*

!__

*.pyc
__pycache__/

testing/

.venv/

.env