{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="row flex-xl-nowrap content" style="height:auto">
    <div class="col-4" style="padding-right: 0px;padding-bottom: 0px;">        
        <table border="1" class="dataframe">
            <thead>
            <tr style="text-align: right">
                <th></th>
                <th>Filename</th>
                <th>Beginning</th>
                <th>End</th>
                <th>Time</th>
                <th>Link to file</th>
            </tr>
            </thead>
            <tbody>
            {% for row in table %}
            <tr style="color:{{ row[0] }}">
                <th>{{ loop.index }}</th>
                <th>{{ row[1] }}</th>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td><a href="{{ url_for('track', track_id=row[5], a=row[2], b=row[3]) }}">link</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-8" style="padding-right: 0px;padding-bottom: 0px;">
        {{ map | safe}}
    </div>
</div>
{% endblock %}